
PORT=5000


MONGODB_URI=mongodb+srv://sanmoratechno_db_user:sanmora_db2025@cluster0.ubbchtn.mongodb.net/parth_printtech?appName=Cluster0

CLOUDINARY_URL=cloudinary://995174287727892:gRRA1Ny5hdyUu9ArmmwlLJU_4rw@oeqdmjr7
CLOUDINARY_CLOUD_NAME=oeqdmjr7
CLOUDINARY_API_KEY=995174287727892
CLOUDINARY_API_SECRET=gRRA1Ny5hdyUu9ArmmwlLJU_4rw
