
PORT=5000


MONGODB_URI=mongodb+srv://sanmoratechno_db_user:sanmora_db2025@cluster0.ubbchtn.mongodb.net/parth_printtech?appName=Cluster0

CLOUDINARY_URL=cloudinary://995174287727892:gRRA1Ny5hdyUu9ArmmwlLJU_4rw@oeqdmjr7
CLOUDINARY_CLOUD_NAME=oeqdmjr7
CLOUDINARY_API_KEY=995174287727892
CLOUDINARY_API_SECRET=gRRA1Ny5hdyUu9ArmmwlLJU_4rw

WEB3FORMS_ACCESS_KEY=a1866527-580b-463f-ad55-e7f56c088ee4
CONTACT_EMAIL=info@parthprinttech.com
